.container {
  width: 90%;
  min-height: calc(100vh - 70px);
  max-width: 1600px;
  background: linear-gradient(to left top, rgb(45, 45, 45), rgb(30, 30, 30));
  box-shadow: 0 0 5px 0 darkgray;
  display: flex;
  flex-direction: column;
}

.container > h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
  font-size: 4rem;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: baseline;
}

.description {
  /* border: 1px solid white; */
  width: 70%;
}

.description > h3 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.description > p {
  font-size: 1.25rem;
}

.content > h2 {
  /* border: 1px solid white; */
  width: 100%;
  font-size: 3rem;
}
